# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.InflationArchive.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

**.dll
**.gz
**/Debug
**/Release

InflationArchiveApi/appsettings.json

InflationArchiveApi/obj/

**/.vs
.idea/.idea.InflationArchive/.idea/dataSources.xml
**/node_modules
